<!-- app/views/shared/_header.html.erb -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <b><%= active_link_to t(".title"), root_path, class: "navbar-brand" %></b>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <% if user_signed_in? %>
        <li class="nav-item">
          <b><%= active_link_to t(".new_event"), new_event_path, class: "nav-link" %></b>
        </li>
        <li class="nav-item">
          <b><%= active_link_to t(".my_event"), user_path(current_user.id), class: "nav-link" %></b>
        </li>
        <li class="nav-item">
          <b><%= active_link_to t(".edit_registration"), edit_user_registration_path, class: "nav-link" %></b>
        </li>
        <li class="nav-item">
          <b><%= active_link_to t(".log_out"), destroy_user_session_path, method: :delete, class: "nav-link" %></b>
        </li>
      <% else %>
        <li class="nav-item">
          <b><%= active_link_to t(".new_registration"), new_user_registration_path, :wrap_tag => :li, class: "nav-link" %></b>
        </li>
        <li class="nav-item">
          <b><%= active_link_to t(".log_in"), new_user_session_path, :wrap_tag => :li, class: "nav-link" %></b>
        </li>
      <% end %>
    </ul>
    <%= search_form_for @q, class: "form-inline my-2 my-lg-0" do |f| %>
      <%= f.search_field :title_or_description_cont, class: "form-control mr-sm-2" %>
      <%= f.submit t(".search"), class: "btn btn-info my-2 my-sm-0" %>
    <% end %>
  </div>
</nav>
