<!-- app/views/events/_form.html.erb -->
<%= form_with model: event, local: true do |form| %>
  <%= render "shared/errors", obj: event %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :new_image %>
    <%= form.file_field :new_image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 10, class: "form-control" %>
  </div>
  <%= form.submit class: "btn btn-primary" %>
<% end %>