<!DOCTYPE html>
<html>
  <head>
    <title>Yubitoma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p> <!--  ログインした時などにログインしました的なメッセージを出す  -->
    <p class="alert"><%= alert %></p> <!--  ログインした時などにログインしました的なメッセージを出す  -->

  <%= yield %>
  </body>
</html>
