<!DOCTYPE html>
<html>
  <head>
    <title>yubitoma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notice %> <!--  ログインした時などにログインしました的なメッセージを出す  -->
    <%= alert %> <!--  ログインした時などにログインしました的なメッセージを出す  -->
    <%= render "shared/navbar" %>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render "shared/flash" %>
        </div>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
